@using BSWeather.Models

@{
    ViewBag.Title = "Search Histroy";
    SearchHistoryRecords = ViewBag.SearchHistoryRecords;
}
@functions
{
    public List<SearchHistoryRecord> SearchHistoryRecords;
}

<div class="jumbotron">
    <h1>BSWeather</h1>
    <h2>Search Histroy</h2>

    <p>
        <ul class="list-group">
            @foreach (var searchHistoryRecord in SearchHistoryRecords)
            {
                <li class="list-group-item">
                    <div class="row-height">
                        <div class="col-xs-1 col-height col-middle">
                            <div class="inside">
                                <div class="content">
                                    <img src="@Url.Content("~/Content/Images/clock.png")" class="list-icon" /> @searchHistoryRecord.DateTime – @searchHistoryRecord.CityName
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </p>
</div>
